Package: idleshutdowner
Version: 0.1-1
Architecture: all
Maintainer: Ruben Cancho Gasulla <canchete@gmail.com>
Installed-Size: 22
Depends: xprintidle
Section: utils
Priority: optional
Homepage: https://github.com/Canx/idleshutdowner
Description: Shutdown service when idle in X
  Service to shutdown the computer when no mouse or keyboard used in a certain time.
