Source: idleshutdowner
Section: utils
Priority: optional
Maintainer: Ruben Cancho Gasulla <canchete@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/Canx/idleshutdowner
#Vcs-Browser: https://salsa.debian.org/debian/idleshutdowner
#Vcs-Git: https://salsa.debian.org/debian/idleshutdowner.git
Rules-Requires-Root: no

Package: idleshutdowner
Architecture: all
Depends: xprintidle
Description: Shutdown service when idle in X
  Service to shutdown the computer when no mouse or keyboard used in a certain time.
